@import url("maplibre-custom.css");
@import url("zoom-indicator.css");

body { 
  margin: 0; 
  padding: 0; 
  height: 100%; 
  display: grid;

  & #feature-details {
    display: none;
    background-color: white;
  }

  @media screen and (width <= 700px) {
    grid-template-rows: min-content 1fr 1fr;
    grid-template-columns: 1fr;

    & #map {
      grid-area: 2 / 1 / 4 / 2;
    }
    &.layout-popup {
      & #feature-details {
        display: block; /* unhide */
        z-index: 10;
        grid-area: 3 / 1 / 4 / 2;
      }
    }
  }

  @media screen and (width > 700px) {
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr 375px;
    & #map {
      grid-area: 2 / 1 / 2 / 3;
    }
    &.layout-popup {
      & header {
        grid-column: 1 / 3;
      }
      & #feature-details {
        display: block; /* unhide */
        z-index: 10;
        grid-area: 2 / 2 / 3 / 3;
      }
    }
  }
}

html, body, #map { height: 100%; }

summary h1 {
  font-size: 1.2rem;
  display: inline;
  text-wrap: wrap;
}

header {
  min-height: 2rem;
  padding: 0.5rem;
}

header pre {
  display: inline;
}

#feature-details {
  overflow: scroll;

  details {
    border: 1px solid black;
    border-radius: 0.4rem;
    padding: 0.2rem;
    margin: 0.2rem;
  }

  & h2 {
    font-size: 1.2rem;
  }

  & summary {
    font-weight: bold;
  }

  & dt {
    font-weight: bold;
    padding-top: 0.5rem;
  }
  & dd {
    margin-inline-start: 0;
  }
}

.puh-header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0.5rem;
  border: 1px solid black;
  background-color: white;

  & h2 {
    margin: 0;
  }
}

.puh-content {
  padding: 0.5rem;
}