# This workflow will install Python dependencies and run the data pipeline script

name: Run Update

on: # workflow_dispatch
  schedule:
    - cron: '00 9 * * 1' # only on Mondays 9:00am UTC (4:00am ST or 5:00am DT in Toronto)

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        version: "0.6.14"
    - name: "Set up Python"
      uses: actions/setup-python@v5
      with:
        python-version-file: ".python-version"
    - name: Install the project
      run: uv sync --all-extras
    - name: Run data pipeline script
      run: uv run "Data Pipeline/data_pipeline.py"
    - name: Update repository
      run: |
        git config user.email ${{ secrets.BOT_EMAIL }}
        git config user.name "tallcoleman-bot"
        git add --all
        git commit -m "BOT - ran data pipeline update"
        git fetch origin main
        git push origin main
